<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239498920781-b0chemk3iojsemu26t4iaiuo937ng6gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239498920781-b0chemk3iojsemu26t4iaiuo937ng6gk</string>
	<key>API_KEY</key>
	<string>AIzaSyC7zbBkcyYTXamJdE1eD7jOY6bJ1cmrtBs</string>
	<key>GCM_SENDER_ID</key>
	<string>239498920781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BOG.WayOut</string>
	<key>PROJECT_ID</key>
	<string>wayout-94da9</string>
	<key>STORAGE_BUCKET</key>
	<string>wayout-94da9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239498920781:ios:eb41e68df2bee2eba96d04</string>
</dict>
</plist>